.section-3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 70px 0;
    background: var(--color6);
    align-content: center;
    align-items: center;
}
.post{
    width: 30vw;
}
.center{
    width: 50vw;
}
.form1{
    margin-top: 30px;
}