:root {

    --color1: rgba(91, 161, 153, 0.22);
    --color7: #d9dee3;
    --color3: #56B5D1;
    --color4: rgba(70, 149, 151, 0.65);
    --color5: #00303E;
    --color6: #E5E3E4;
    --color2: #dec9c0;

    /*--color1: #D2F0D8;*/
    /*--color2: #D5EC92;*/
    /*--color3: #F2B189;*/
    /*--color4: #80C487;*/
    /*--color5: #00303E;*/
}


body{
    margin: 0;
    font-family: SansSerif, serif;
    height: auto;
}
::selection{
    color: var(--color2);
    background: var(--color3);
    text-shadow: none;
}
.navbar {
    overflow: hidden;
    background-color: var(--color4);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-menu{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.navbar-menu a {
    text-transform: uppercase;
    font-size: 16px;
    float: left;
    display: block;
    color: var(--color2);
    text-align: center;
    padding: 24px 46px;
    text-decoration: none;
    font-family: Hind,sans-serif;
    font-weight: 700;
}
.navbar-menu a:hover {
    background: var(--color2);
    color: black;

}
.login-form{
    display: flex;
    height: 100%;
    justify-content: center;
    justify-items: center;
}
.login-form input{
    padding: 24px 46px;
    text-transform: uppercase;
    font-size: 12px;
    height: 66px;
    text-decoration: none;
    font-family: Hind,sans-serif;
    font-weight: 700;
    background-color: var(--color4);
    border: none;
    margin-left: auto;
}
.login-form input:hover{
    background: var(--color2);
    color: var(--color5);
}
.container-header{
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    background: url("https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2022/08/07/479666923.jpg") center center no-repeat;
    background-size: cover;
    justify-content: center;
}
.hello-block h1, .hello-block p {
    font-family: Hind, sans-serif;
    font-size: 70px;
    color: #58777a;
    font-weight: 700;
    line-height: 1.4;
}
.hello-block p {
    font-size: 25px;
    font-weight: 400;
}
.hello-block{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}