<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
  <ul>
    <li th:utext="${building?.address}">..</li>
    <li th:utext="${building?.name}">..</li>
    <li th:utext="${building?.constraction_start_date}">..</li>
    <li th:utext="${building?.expected_commissioning_date}">..</li>
    <li th:utext="${building?.commissioning_date}">..</li>
  </ul>
</div>
<div>Список апартаментов</div>
<ul>
  <th:block th:each="apartment: ${apartments}">
    <li th:utext="${apartment?.number}">..</li>
    <li th:utext="${apartment?.floor}">..</li>
    <li th:utext="${apartment?.entrance}">..</li>
    <li th:utext="${apartment?.total_area}">..</li>
    <li th:utext="${apartment?.living_area}">..</li>
    <li th:utext="${apartment?.number_rooms}">..</li>
    <p>-----------------------------------------</p>
  </th:block>
</ul>
</body>
</html>