<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 class="auth-title">Редактирование</h1>

<div th:text="${message}">
    {
</div>

<form action="" method="post">
    <div class="form-group">
        <input class="input" type="text" name="number"
               placeholder="Редактировать номер квартиры" th:value="${apartment?.number}">
    </div>

    <div class="form-group">
        <input class="input" type="text" name="floor"
               placeholder="Редактировать этаж" th:value="${apartment?.floor}">
    </div>

    <div class="form-group">
        <input class="input" type="text" name="entrance"
               placeholder="Редактировать подъезд" th:value="${apartment?.entrance}">
    </div>

    <div class="form-group">
        <input class="input" type="text" name="total_area"
               placeholder="Редактировать общую площадь" th:value="${apartment?.total_area}">
    </div>

    <div class="form-group">
        <input class="input" type="text" name="living_area"
               placeholder="Редактировать жилую площадь" th:value="${apartment?.living_area}">
    </div>

    <div class="form-group">
        <input class="input" type="number" min=1 max=5 name="number_rooms" min="1" max="5"
               placeholder="Редактировать количество комнат" th:value="${apartment?.number_rooms}">
    </div>

    <button class="btn" type="submit">Редактировать</button>
</form>
<!--TODO НОРМАЛЬНЫЙ ПЕРЕХОД НАЗАД   -->
<a href="/" >Главная</a>
</body>
</html>