<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post" action="buildings/addBuilding">
        <!--CSRF Token-->
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />

        <div th:text="${message}">
            {
        </div>
        <input th:value="${buildingToAdd?.city}" type="text" name="city"
               placeholder="Введите город">
        <input th:value="${buildingToAdd?.street}" type="text" name="street"
               placeholder="Введите улицу">
        <input th:value="${buildingToAdd?.number}" type="text" name="number"
               placeholder="Введите номер">
        <input th:value="${buildingToAdd?.name}" type="text" name="name"
               placeholder="Введите название комплекса">
        <input th:value="${buildingToAdd?.constraction_start_date}" type="date" name="constraction_start_date"
               placeholder="Введите дату начала строительства">
        <input th:value="${buildingToAdd?.expected_commissioning_date}" type="date" name="expected_commissioning_date"
               placeholder="Введите ожидаемую дату окончания строительства">
        <input th:value="${buildingToAdd?.commissioning_date}" type="date" name="commissioning_date"
               placeholder="Введите дату сдачи объекта">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>
    <form method="get" action="/buildings/findBuilding">
        <!--CSRF Token-->
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />

        <div th:text="${message}">
            {
        </div>
        <input th:value="${buildingToFind?.city}" type="text" name="city"
               placeholder="Введите город">
        <input th:value="${buildingToFind?.street}" type="text" name="street"
               placeholder="Введите улицу">
        <input th:value="${buildingToFind?.number}" type="text" name="number"
               placeholder="Введите номер дома">
        <input th:value="${buildingToFind?.name}" type="text" name="name"
               placeholder="Введите название ЖК">
        <input th:value="1900-01-01" type="date" name="dateStart"
               placeholder="Введите начало промежутка даты начала строительства">
        <input th:value="2023-01-01" type="date" name="dateEnd"
               placeholder="Введите конец промежутка даты начала строительства">
        <input type="checkbox" name="isCommission" id="isCommission">
        <label for="isCommission">Дом сдан</label>
        <button type="submit">Найти</button>
    </form>
    <a href="/buildings">
        Сбросить фильтры
    </a>
</div>
<div>Список строений</div>
<ul>
    <th:block th:each="building: ${buildings}">
        Город: <li th:utext="${building?.city}">..</li>
        Улица: <li th:utext="${building?.street}">..</li>
        Номер дома: <li th:utext="${building?.number}">..</li>
        Название: <li th:utext="${building?.name}">..</li>
        Дата начала строительства: <li th:utext="${building?.constraction_start_date}">..</li>
        Предполагаемая дата окончания строительства: <li th:utext="${building?.expected_commissioning_date}">..</li>
        Дата сдачи объекта: <li th:utext="${building?.commissioning_date}">..</li>
        <div>
            <a href="/apartments" th:attrprepend="href='buildings/'+${building?.building_id}">
                Посмотреть апартаменты
            </a>
            <a href="/editBuilding" th:attrprepend="href='buildings/'+${building?.building_id}">
                Редактировать строение
            </a>
            <a href="/deleteBuilding" th:attrprepend="href='buildings/'+${building?.building_id}">
                Удалить строение
            </a>
        </div>
        <p>-----------------------------------------</p>
    </th:block>
</ul>
</body>
</html>