<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/group.css}"/>
  <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/index.css}"/>
  <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/apartamentEdit.css}"/>
  <meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<header>
  <div class="navbar">
    <div class="navbar-menu">
      <a href="/buildings">
        Список домов
      </a>
      <a th:if="${employee?.isEnabled()}" href="/clients">
        Список клиентов
      </a>
      <a th:if="${employee?.isEnabled()}" href="/employees">
        Список сотрудников
      </a>
      <a th:if="${employee?.isEnabled()}" href="/contracts">
        Мои контракты
      </a>
    </div>
    <div class="login-form">
      <form th:if="!${employee?.isEnabled()}" th:action="@{/login}" method="post">
        <input type="submit" value="Вход"/>
      </form>
      <form th:if="${employee?.isEnabled()}" th:action="@{/logout}" method="post">
        <input type="submit" value="Выход"/>
      </form>
      <!--<a th:if="${employee?.isAdmin()}" href="/admin/addEmployee"> Зарегистрировать нового сотрудника</a>-->
    </div>
  </div>
</header>

<div class="section-3">
  <div class="center">
    <div class="container-title2">
      <h1 class="auth-title">Редактирование</h1>
    </div>
  </div>
  <div th:text="${message}"></div>
  <div class="form1">
    <form class="post" method="post" action="buildings/addBuilding">
      <!--CSRF Token-->
      <input class="input"
             type="hidden"
             th:name="${_csrf.parameterName}"
             th:value="${_csrf.token}" />
      <div class="form group">
        <input class="input buildings" th:value="${building?.city}" type="text" name="city"
               placeholder="" required>
        <span class="span login">Редактировать город</span>
      </div>
      <div class="form group">
        <input class="input buildings" th:value="${building?.street}" type="text" name="street"
               placeholder="" required>
        <span class="span login">Редактировать улицу</span>
      </div>
      <div class="form group">
        <input class="input buildings" th:value="${building?.number}" type="text" name="number"
               placeholder="" required>
        <span class="span login">Редактировать номер дома</span>
      </div>
      <div class="form group">
        <input class="input buildings" th:value="${building?.name}" type="text" name="name"
               placeholder="" required>
        <span class="span login">Редактировать название</span>
      </div>
      <div class="form group">
        <input class="input buildings" th:value="${building?.constraction_start_date}" type="date" name="constraction_start_date"
               placeholder="" required>
        <span class="span login">Редактировать дату начала стройки</span>
      </div>
      <div class="form group">
        <input class="input buildings" th:value="${building?.expected_commissioning_date}" type="date" name="expected_commissioning_date"
               placeholder="" required>
        <span class="span login">Редактировать дату окончания стройки</span>
      </div>
      <div class="form group">
        <input class="input buildings" th:value="${building?.commissioning_date}" type="date" name="commissioning_date"
               placeholder=""  required>
        <span class="span login">Редактировать дату сдачи</span>
      </div>
      <div class="form group">
        <button class="btn" type="submit">Редактировать</button>
      </div>
      <div class="form group">
        <a class="text" href="/buildings" >Главная</a>
      </div>

    </form>
  </div>
</div>
</body>
</html>