<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post" action="clients/addClient">
        <!--CSRF Token-->
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
        <div th:text="${message}">
            {
        </div>
        <input th:value="${buildingToAdd?.full_name}" type="text" name="full_name"
               placeholder="Введите ФИО">
        <input th:value="${buildingToAdd?.phone_number}" type="text" name="phone_number"
               placeholder="Введите номер телефона">
        <input th:value="${buildingToAdd?.birth_date}" type="date" name="birth_date"
               placeholder="Введите дату рождения">
        <input th:value="${buildingToAdd?.passport}" type="text" name="passport"
               placeholder="Введите серию и номер паспорта">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список клиентов</div>
<ul>
    <th:block th:each="client: ${clients}">
        ФИО: <li th:utext="${client?.full_name}">..</li>
        Телефон: <li th:utext="${client?.phone_number}">..</li>
        Дата рождения: <li th:utext="${client?.birth_date}">..</li>
        Серия и номер паспорта: <li th:utext="${client?.passport}">..</li>
        <div>
            <a href="/contracts" th:attrprepend="href='clients/'+${client?.client_id}">
                Контракты клиента
            </a>
            <a href="/editClient" th:attrprepend="href='clients/'+${client?.client_id}">
                Редактировать данные клиента
            </a>
            <a href="/deleteClient" th:attrprepend="href='clients/'+${client?.client_id}">
                Удалить данные о клиенте
            </a>
        </div>
        <p>-----------------------------------------</p>
    </th:block>
</ul>
</body>
</html>