<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <!--<form method="post" action="addClient">
        <div th:text="${message}">
            {
        </div>
        <input th:value="${buildingToAdd?.address}" type="text" name="address"
               placeholder="Введите адрес">
        <input th:value="${buildingToAdd?.name}" type="text" name="name"
               placeholder="Введите название комплекса">
        <input th:value="${buildingToAdd?.constraction_start_date}" type="date" name="constraction_start_date"
               placeholder="Введите дату начала строительства">
        <input th:value="${buildingToAdd?.expected_commissioning_date}" type="date" name="expected_commissioning_date"
               placeholder="Введите ожидаемую дату окончания строительства">
        <input th:value="${buildingToAdd?.commissioning_date}" type="date" name="commissioning_date"
               placeholder="Введите дату сдачи объекта">
        <button type="submit">Добавить</button>
    </form>
    -->
</div>
<div>Список клиентов</div>
<ul>
    <th:block th:each="client: ${clients}">
        <li th:utext="${client?.full_name}">..</li>
        <li th:utext="${client?.phone_number}">..</li>
        <li th:utext="${client?.birth_date}">..</li>
        <li th:utext="${client?.passport}">..</li>
        <div>
            <!--
            <a href="/editBuilding" th:attrprepend="href='building/'+${building?.building_id}">
                Редактировать строение
            </a>
            <a href="/deleteBuilding" th:attrprepend="href='building/'+${building?.building_id}">
                Удалить строение
            </a>
            -->
        </div>
        <p>-----------------------------------------</p>
    </th:block>
</ul>
</body>
</html>