<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <ul>
        <li th:utext="${client?.full_name}">..</li>
        <li th:utext="${client?.phone_number}">..</li>
        <li th:utext="${client?.birth_date}">..</li>
        <li th:utext="${client?.passport}">..</li>
    </ul>
</div>
<!--<div>
    <form method="post" th:action="@{/building/__${building?.building_id}__/apartments/addApartment}">
        <div th:text="${message}">
            {
        </div>
        <input th:value="${apartmentToAdd?.number}" type="text" name="number"
               placeholder="Введите номер квартиры">
        <input th:value="${apartmentToAdd?.floor}" type="text" name="floor"
               placeholder="Введите этаж">
        <input th:value="${apartmentToAdd?.entrance}" type="text" name="entrance"
               placeholder="Введите подъезд">
        <input th:value="${apartmentToAdd?.total_area}" type="text" name="total_area"
               placeholder="Введите общую площадь">
        <input th:value="${apartmentToAdd?.living_area}" type="text" name="living_area"
               placeholder="Введите жилую площадь">
        <input th:value="${apartmentToAdd?.number_rooms}" type="number" min=1 max=5 name="number_rooms"
               placeholder="Введите количество комнат">
        <button type="submit">Добавить</button>
    </form>
</div>
-->
<div>Контракты</div>
<ul>
    <th:block th:each="contract: ${contracts}">
        <li th:utext="${contract?.price}">..</li>
        <li th:utext="${contract?.date}">..</li>
        <li th:utext="${contract?.status}">..</li>
        <li th:utext="${contract?.type}">..</li>
        <ul>
            <p>Информация о квартире</p>
            <li th:utext="${contract?.apartment?.number}">..</li>
            <li th:utext="${contract?.apartment?.floor}">..</li>
            <li th:utext="${contract?.apartment?.entrance}">..</li>
            <li th:utext="${contract?.apartment?.total_area}">..</li>
            <li th:utext="${contract?.apartment?.living_area}">..</li>
            <li th:utext="${contract?.apartment?.number_rooms}">..</li>
        </ul>

        <!--<div>
            <a href="/editApartment" th:attrprepend="href='apartments/'+${apartment?.apartment_id}">
                Редактировать квартиру
            </a>
            <a href="/deleteApartment" th:attrprepend="href='apartments/'+${apartment?.apartment_id}">
                Удалить квартиру
            </a>
        </div>
        -->
        <p>-----------------------------------------</p>
    </th:block>
</ul>
</body>
</html>