<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:text="${message}">
    {
</div>
<a href="/employees/registration">
    Зарегистировать нового сотрудника
</a>
<div>
    <form method="get" action="/employees/findEmployee">
        <!--CSRF Token-->
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />

        <div th:text="${message}">
            {
        </div>
        <input th:value="${employeeToAdd?.second_name}" type="text" name="second_name"
               placeholder="Введите фамилию">
        <input th:value="${employeeToAdd?.first_name}" type="text" name="first_name"
               placeholder="Введите имя">
        <input th:value="${employeeToAdd?.middle_name}" type="text" name="middle_name"
               placeholder="Введите отчество">
        <input th:value="${employeeToAdd?.phone}" type="text" name="phone"
               placeholder="Введите название номер телефона">
        <input th:value="${employeeToAdd?.birth_date}" type="date" name="birth_date"
               placeholder="Введите дату рождения">
        <input th:value="${employeeToAdd?.passport}" type="text" name="passport"
               placeholder="Введите серию и номер паспорта">
        <select th:value="${employeeToAdd?.post}" name="post_em">
            <option disabled>Выберите должность</option>
            <option selected value="0">Менеджер</option>
            <option value="1">Консультант по продажам</option>
            <option value="2">Главный консультант</option>
            <option value="3">Руководитель отдела</option>
        </select>
        <input th:value="${employeeToAdd?.username}" type="text" name="username"
               placeholder="Введите логин">
        <input type="checkbox" name="isAdmin" id="isAdmin">
        <label for="isAdmin">Админ</label>
        <button type="submit">Найти</button>
    </form>
</div>
<div>Сотрудники компании</div>
<ul>
    <th:block th:each="employee: ${employees}">
        Фамилия: <li th:utext="${employee?.second_name}">..</li>
        Имя: <li th:utext="${employee?.first_name}">..</li>
        Отчество: <li th:utext="${employee?.middle_name}">..</li>
        Телефон: <li th:utext="${employee?.phone}">..</li>
        Дата рождения: <li th:utext="${employee?.birth_date}">..</li>
        Серия и номер паспорта: <li th:utext="${employee?.passport}">..</li>
        Должность: <li th:utext="${employee?.post}">..</li>
        <div>
            <a href="/contracts" th:attrprepend="href='employees/'+${employee?.employee_id}">
                Контракты сотрудника
            </a>
            <a href="/editEmployee" th:attrprepend="href='employees/'+${employee?.employee_id}">
                Редактировать данные сотрудника
            </a>
            <a href="/deleteEmployee" th:attrprepend="href='employees/'+${employee?.employee_id}">
                Удалить данные о сотруднике
            </a>
        </div>
        <p>-----------------------------------------</p>
    </th:block>
</ul>
</body>
</html>