<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Список строений</div>
<ul>
    <th:block th:each="building: ${buildings}">
        <li th:utext="${building?.address}">..</li>
        <a href="/apartments/" th:attrappend="href=${building?.building_id}">
        <li th:utext="${building?.name}">..</li>
        </a>
        <li th:utext="${building?.constraction_start_date}">..</li>
        <li th:utext="${building?.expected_commissioning_date}">..</li>
        <li th:utext="${building?.commissioning_date}">..</li>
        <p>-----------------------------------------</p>
    </th:block>
</ul>
</body>
</html>