<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form th:if="!${employee?.isEnabled()}" th:action="@{/login}" method="post">
        <input type="submit" value="Вход"/>
    </form>
    <form th:if="${employee?.isEnabled()}" th:action="@{/logout}" method="post">
        <input type="submit" value="Выход"/>
    </form>
    <!--<a th:if="${employee?.isAdmin()}" href="/admin/addEmployee"> Зарегестрировать нового сотрудника</a>-->
</div>
<div>
    <a href="/buildings">
        Список домов
    </a>
    <a th:if="${employee?.isEnabled()}" href="/clients">
        Список клиентов
    </a>
    <a th:if="${employee?.isEnabled()}" href="/employees">
        Список сотрудников
    </a>
    <a th:if="${employee?.isEnabled()}" href="/contracts">
        Мои контракты
    </a>
</div>
</body>
</html>